*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:#223070;
    


}


.encabezado{
    font-weight: bold;
}
 

.imagen{
    width: 1000px;
    height: 450px;
    margin: 10px auto;

    
     
       
}

.descripcion{
    
    font-size: xx-large;
    font-style: 700px; color: aliceblue; margin: 150px 340px;

    

}